.section {
  margin: 0 auto;
  width: 785px;
  display: flex;
  flex-direction: column;

  .main {
    display: flex;
    justify-content: space-between;
  }

  header {
    padding: 40px 0;
    display: flex;
    justify-content: center;

    .logo-container {
      display: flex;
      justify-content: center;
    }
  }


}
