@import "src/variables";

.content {
  width: 502px;

  .btn-more {
    background-color: #2196F3;
    border: none;
    color: $sorting-active-text;
    width: 502px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 40px;

    &:hover {
      cursor: pointer;
    }
  }
}