@import "../../variables";

.filter {
  margin: 0;
  width: 232px;
  height: 252px;
  display: flex;
  flex-direction: column;
  background-color: $container-bg-color;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px #d4d9ea;
  font-weight: 400;


  .text {
    font-weight: bold;
    margin: 20px;
  }

  .label {
    display: block;
    padding-left: 20px;
    height: 40px;
    justify-self: center;
    position: relative;
    text-transform: none;

    &:hover:before {
      content: '';
      display: block;
      width: 232px;
      height: 40px;
      background: $hover-color;
      position: absolute;
      top: -12px;
      left: 0;
      cursor: pointer;

    }

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &:checked+span::before {
        border-color: $input-active-border;
      }

      &:checked+span::after {
        content: '';
        display: block;
        //background: black;
        width: 10px;
        height: 6px;
        border-left: 2px solid $input-active-border;
        border-bottom: 2px solid $input-active-border;
        rotate: -45deg;
        position: absolute;
        left: -24px;
        top: 3px;

      }

    }

    span {
      display: inline-flex;
      align-items: center;
      user-select: none;
      position: relative;
      margin-left: 30px;

      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-color: white;
        border: 2px $input-border solid;
        border-radius: 3px;
        position: absolute;
        top: -3px;
        left: -30px;

      }
    }
  }
}






