$common-bg-color: #F3F7FA;
$container-bg-color: #FFFFFF;

$input-border: rgb(223, 229, 236);
$input-active-border: #2196F3;

$common-font-color: #4A4A4A;

$hover-color: #F1FCFF;

$sorting-active-text: #FFFFFF;

$price-color: #2196F3;